*,
*::after,
*::before {
  box-sizing: border-box;
}







body {
  overflow-x: hidden;
}


section {
  padding-left: 20px;
  padding-right: 20px;
}

main > section:nth-of-type(1) {
  display: flex;
  align-items: center;
  max-width: 1440px;
  margin: auto;
  flex-direction: column;
}

@media (min-width: 768px) {
  main > section:nth-of-type(1) {
    display: flex;
    flex-direction: row;
    align-items: center;
    max-width: 1440px;
    margin: auto;
  }
}

main nav ol {
  list-style: none;
  display: flex;

  li:after {
    content: ">";
    margin: 0 0.5em;
  }

  a {
    text-decoration: none;
    font-family: var(--font-body-family);
    color:var(--color-text);
  }

  li:last-of-type a {
    color:var(--color-text);
    font-family: var(--font-body-bold-family);
  }

  li:last-of-type:after {
    content: "";
  }
}

body {
  font-family: var(--font-body-family);
  font-style: var(--font-body-style);
}

section:nth-of-type(1) > section:first-of-type {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 0.8em;
  align-items: start;
  width: 100%;
  max-width: 762px;
}

video {
  grid-column: 1 / 2;
  grid-row: 1 / 3;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 4px;
}

section:nth-of-type(1) section:first-of-type img {
  grid-column: 2 / 3;
  aspect-ratio: 1/1;
  width: 100%;
  height: 100%;
  border-radius: 4px;
}

section:nth-of-type(1) section:first-of-type img:nth-of-type(2) {
  grid-row: 2 / 3;
}

section:nth-of-type(1) section:first-of-type img:nth-of-type(1) {
  grid-row: 1 / 2;
}

section:nth-of-type(1)  section:nth-of-type(2) {
  article {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    column-gap: 1em;
    padding: 0.4em 0.6em;
    background-color: var(--color-button-bg);
    border-radius: 4px;
    margin: 2em 0 2em 0;

    p {
      margin-top: 0.5em;
    }
  }

  a {
    font-family: var(--font-body-medium-family);
    align-items: center;
    text-align: center;
    position:relative;
    display: flex;
    align-items: center;
    gap: 0.2em;
    text-decoration: none;
    color: var(--color-text);
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: -0.32px;
    margin-inline-start: 4px;
    font-size: 1em;


  }

  h1 {
    color: var(--color-text);
    font-family: var(--font-body-bold-family);
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: -0.72px;
    padding-bottom: 8px;
    margin-bottom: 0;
  }

  ul {
    list-style: none;
    padding: 0;

    li {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 0.5em;
      margin-top: 0.5em;

      p {
        margin: 0;
      }
    }
  }
}

section:nth-of-type(1) section:nth-of-type(3) {
  display: grid;
  grid-template-columns: 1fr 8fr;
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  border: 0.0625em solid #d0d0d0;
  border-radius: 4px;
  padding: 0 1em 0 0;

  label {
    display: flex;
    flex-direction: column;

    color: var(--Text-Text-1, #121212);
    font-family: var(--font-body-medium-family);
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: -0.4px;
    padding-top: 0.5em;
  }

  span {
    color: var(--Text-Text-4, #8d8d8d);
    font-size: 16px;
    line-height: 20px;
    letter-spacing: -0.32px;
  }

  INPUT {
    width: 1em;
    height: auto;
    color: black;
    margin-left: 1em;
  }
}

section:nth-of-type(1) section:nth-of-type(2) section:nth-of-type(2) {
  ul {
    list-style: none;
    padding: 0;
  }

  li:nth-of-type(1) {
    border: 0.0625em solid #ff5a00;
  }

  a p:nth-of-type(1)::before {
    content: "";
    display: inline-block;
    width: 1.7em;
    aspect-ratio: 1/1;
    margin-right: 1em;
    background-color: #bf9251;
    border-radius: 4px;
    vertical-align: -50%;
  }

  p:nth-of-type(2) {
margin-left:auto;
border:var(--color-label-border) 0.0625em solid;
padding: 0.625em 3em 0.625em 1em;

  }
 a svg {
position:absolute;
right:1em;
  }


  p {
    span {
      text-decoration: underline;
    }
  }

  li {
    display: flex;
    border: 0.0625em solid #d0d0d0;
    justify-content: space-between;
    margin-bottom: 1em;
    align-items: center;
    height: 3em;

    border-radius: 4px;

    a {
      text-decoration: none;
      align-self: center;
      justify-self: center;
    }

    p {
      font-family: var(--font-body-medium-family);
      font-size: 18px;
      font-style: normal;
      font-weight: 500;
      line-height: 22px;
      letter-spacing: -0.36px;
      color: var(--color-text);
      margin: 0.5em 1em 0.5em 1em;
    }
     p:nth-of-type(1)::before {
      content: "";
      display: inline-block;
      width: 1.7em;
      aspect-ratio: 1/1;
      margin-right: 1em;
background-color:orangered;
      border-radius: 4px;
      vertical-align: -50%;
    }

    button {
      border: none;
      background-color: var(--color-background);
      font-family: var(--font-body-medium-family);
      font-size: 18px;
      font-style: normal;
      font-weight: 500;
      line-height: 22px;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      width: 9em;
    }
  }

  a:last-of-type {
    display: flex;

    }
}

main > section:nth-of-type(2) {
  ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 0.5em;
    padding: 0;
    list-style: none;
  }

  li:nth-of-type(1) {
    grid-area: 1 / 1 / 3 / 2;
  }
  li:nth-of-type(2) {
    grid-area: 1 / 2 / 2 / 3;
  }
  li:nth-of-type(3) {
    grid-area: 2 / 2 / 3 / 3;
  }
  li:nth-of-type(4) {
    grid-area: 3 / 1 / 4 / 2;
  }
  li:nth-of-type(5) {
    grid-area: 3 / 2 / 5 / 3;
  }
  li:nth-of-type(6) {
    grid-area: 4 / 1 / 5 / 2;
  }

  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}

@media (min-width: 768px) {
  main > section:nth-of-type(2) {
    max-width: 1400px;
    margin: auto;
    ul {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: repeat(2, 1fr);
      gap: 1em;
    }

    li:nth-of-type(1) {
      grid-area: 1 / 1 / 3 / 2;
    }
    li:nth-of-type(2) {
      grid-area: 1 / 2 / 2 / 3;
    }
    li:nth-of-type(3) {
      grid-area: 2 / 2 / 3 / 3;
    }
    li:nth-of-type(4) {
      grid-area: 1 / 3 / 2 / 4;
    }
    li:nth-of-type(6) {
      grid-area: 2 / 3 / 3 / 4;
    }
    li:nth-of-type(5) {
      grid-area: 1 / 4 / 3 / 5;
    }
  }

  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}

section:nth-of-type(3) {
  max-width: 1400px;
  margin: auto;
  summary {
    padding: 2em 0;
    display: flex;
    justify-content: space-between;
    border-bottom: 0.1rem solid rgba(18, 18, 18, 0.15);
    cursor: pointer;

    color:var(--color-text);
    font-family: var(--font-body-medium-family);
    font-size: 18px;
    font-weight: 500;
    line-height: 1;
    letter-spacing: -0.36px;
    transition: 0.3s;
  }

  summary::after {
    content: "";
    width: 1em;
    aspect-ratio: 1/1;
    background-image: url("/images/plus-sign.png");
    background-size: cover;
    margin-left: 0.75em;
    transition: 0.2s;
  }

  details[open] > summary::after {
    background-image: url("/images/minus-sign.png");
  }
}

br {
  width: 100%;
  color: #6b6d76;
  height: 4px;
}

section:nth-of-type(4) {
  max-width: 1400px;
  margin: auto;

  display: flex;
  flex-wrap: wrap;

  > p:nth-of-type(1) {
    color:var(--color-text);
    font-family: var(--font-body-medium-family);
    font-size: 50px;

    margin: 0 0.1em 0 0;
  }
  > button:nth-of-type(1) {
    width: 611px;
    height: 48px;

    border: none;
    background-color: black;
    color: white;
    padding: 0.8em 2.4em 0.8em 2.4em;
    border-radius: 4px;

    color: #fff;
    text-align: center;
    font-family: var(--font-body-bold-family);
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: -0.36px;
    cursor: pointer;

    text-transform: uppercase;
  }

  h2 {
    width: 100%;

    color:var(--color-text);
    font-family: var(--font-body-bold-family);
    font-size: 36px;
  }

  div {
    align-self: center;
    p {
      margin: 0;

          color:var(--color-text);
      font-size: 16px;
      line-height: 20px;
    }
  }

  form {
    display: flex;
    margin: 1.5em 0 1.5em 0;
    width: 609px;
    height: 44px;

    input {
      width: 100vw;
    }

    button {
      height: 100%;
      border: none;
    }

    input[type="search"] {
      height: 100%;
      width: 100%;
      border: none;

      border-radius: 4px;
      background: #ffffffb3;
          color:var(--color-text);
      font-size: 20px;
      font-style: normal;
      font-weight: 400;
      line-height: 24px;
      letter-spacing: -0.4px;
      width: 100%;

      font-family: inherit;
    }
  }

  input[type="search"]::-webkit-search-decoration,
  input[type="search"]::-webkit-search-cancel-button,
  input[type="search"]::-webkit-search-results-button,
  input[type="search"]::-webkit-search-results-decoration {
    display: none;
  }
  /* 
Kruisje verwijderen uit zoekveld */
  /* Bron: https://medium.com/@rion.mrk/how-to-remove-x-icon-from-search-input-field-or-input-type-search-db3c808405fb */

  input[type="checkbox"] {
    display: none;
  }

  label {
    border: 0.0625em solid #d0d0d0;
    border-radius: 4px;
    padding: 0.5em 1em;
    margin-right: 1em;
    cursor: pointer;

    display: flex;
    align-items: center;
    text-align: center;

    font-family: var(--font-body-medium-family);

    color:var(--color-text);
    font-size: 18px;
    line-height: 22px;
    letter-spacing: -0.36px;
  }

  label:hover {
    border: 0.0625em solid var(--color-button-bg);
  }

  input[type="checkbox"]:checked + label {
    background-color: #000000;
    color: white;

    svg {
      fill: #fff;
      stroke: #fff;
      color: #fff;
    }
  }

  button:nth-of-type(2) {
    margin-left: auto;
    display: flex;
    align-items: center;
    border: none;
    background-color: transparent;
    color:var(--color-text);
    font-family: var(--font-body-medium-family);
    color: var(--color-text);
    font-weight: 500;
    line-height: 22px;
    letter-spacing: -0.36px;
    cursor: pointer;
  }

   article:first-of-type {
    width: 100%;
    display: flex;
    flex-wrap: wrap;

    h2 {
      color: #222;
      font-family: var(--font-body-medium-family);
      font-size: 20px;
      font-weight: 500;
      line-height: 22px;
      letter-spacing: -0.4px;
    }

    p:nth-of-type(1) {
      color: #222;
      font-size: 18px;
      line-height: 22px;
      letter-spacing: -0.36px;
    }

    strong {
      font-family: var(--font-body-medium-family);
      font-weight: 500;
    }

    div:nth-of-type(1) {
      order: -2;
      justify-self: center;
      align-self: center;

      p {
        align-self: flex-start;
        margin-top: 0.1em;
      }
    }

    > p:nth-of-type(1) {
      order: -1;
      margin-left: auto;
      justify-self: baseline;
      align-self: baseline;
      text-align: end;
    }

    p:nth-of-type(4),
    p:nth-of-type(3),
    p:nth-of-type(2) {
      margin-right: 2em;
    }

    div:nth-of-type(2) {
      width: 100%;
      margin-top: 1em;
      display: flex;
      p:nth-of-type(1) {
        margin-right: 5em;
      }
    }

    > article:nth-of-type(1) {
      display: flex;
      flex-direction: column;
      background-color: #e8e8e8;
      width: 100%;
      padding: 0.75em 8px;

      img {
        order: -1;
        width: 40px;
        height: 40px;
      }

      h3 {
        margin: 10px;
      }
    }
  }
}

@media (min-width: 768px) {
  section:nth-of-type(4) {
    display: grid;
    align-items: center;
    grid-template-areas:
      "vraag review"
      "sterren zoeken"
      "resultaat sorteer"
      "artikel artikel";

    h2:first-of-type {
      grid-area: vraag;
    }

    p:first-of-type {
      grid-area: review;
      width: max-content;
      align-self: center;
    }

    div:first-of-type {
      grid-area: review;
      margin-left: 5em;
    }

    > button:first-of-type {
      grid-area: review;
      margin-left: auto;
      margin-right: 0;

      padding: 0.75em 2.5em 0.75em 40px;

      width: 320px;
      height: 48px;
    }

    label,
    input {
      grid-area: sterren;
    }

    section:nth-of-type(4) > p:nth-of-type(2) {
      grid-area: resultaat;
    }

    label {
      width: 1em;
      height: auto;
      width: 67px;
      height: 54px;
    }

    label:nth-of-type(2) {
      margin-left: 5em;
    }
    label:nth-of-type(3) {
      margin-left: 10em;
    }
    label:nth-of-type(4) {
      margin-left: 15em;
    }
    label:nth-of-type(5) {
      margin-left: 20em;
    }
    label:nth-of-type(6) {
      margin-left: 25em;
      width: 120px;
    }

    form:first-of-type {
      grid-area: zoeken;
      margin-left: 5em;
    }

    article:first-of-type {
      grid-area: artikel;
      margin-left: 5em;

      display: grid;
      grid-template-areas:
        "Naam" "Sterren"
        "Geslacht" "Header"
        "Leeftijd" "Review"
        "Activiteit" "Review"
        "." "Duimpjes"
        "." "Reactie";
    }

    > h2 {
      grid-area: Header;
    }

    div {
      grid-area: Sterren;
    }

    p:nth-of-type(1) {
      grid-area: Naam;
    }

    p:nth-of-type(2) {
      grid-area: Sterren;
    }

    p:nth-of-type(3)

    p:nth-of-type(3) {
      /* Add your styles here */
    }

    article:nth-of-type(2) {
      grid-area: artikel;
      margin-left: 5em;
    }
  }
}
